# This is the ... config file. Copy this file to ~/.../conf and edit it
# appropriately. This file is in the YAML format.



# This is the base directory for relative paths. If the directory path
# is relative, then it is assumed to be under "$HOME/.../". The default
# value is 'src' (which is the same as "$HOME/.../src/").
#
# dot_paths_base: src

# This is a list of directories that contain dot files. Each entry has
# a 'path' of the directory, which if relative, is relative to the
# value of 'dot_paths_base', above.
# 
dots:
- path: dotdotdot
- path: personal
- path: private

# This tells ... how to install the dot files. The 3 choices are
# 'link' (hard link, the default), 'symlink' (a symbolic link to the src
# file), or 'copy', which copies the src file into $HOME. Each method
# has advantages.
#
# install_method: link

# This can be set to 'on' or 'off'. This tells ... whether it should
# make an automatic backup of your previous dot files when you run '...
# install'. You can always make a backup explicitly with '... backup'.
#
# auto_backup: on
